body{
    background-color: rgb(84, 122, 125);
    color: white;
}
.searchBar{
    width: 50%;
    margin: 0px auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 85% 15%;
}

input, button {
    height: 40px;
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: 0px solid;
    background-color: #05dfd7;
    color: white;
    height: 100%;
    cursor: pointer;
}

input{
    border: 0px solid;
    outline: none;
    border-top: 1px solid #ec7373;
    border-left: 1px solid #ec7373;
    border-bottom: 1px solid #ec7373;
    border-right: 1px solid none;
    padding-left: 20px;
}

.error{
    grid-column: span 2;
    margin-top: 10px;
}

.result{
    grid-column: span 2;
    padding-top: 50px;
}

.area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0 10px;
    box-shadow: 0 0 3px whitesmoke;;
    margin-bottom: 10px;
}

.alert{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
}
